{:env "dev"
 :frequency-ms 5000
 :repmgr {:config-file "/apps/my-awesome-app/repmgr.conf"}
 :zookeeper {:connect "127.0.0.1:2182"
             :master-path "/eccentrica-db/master-node"
             :standby-path "/eccentrica-db/standby-node"
             :failed-path "/eccentrica-db/failed-node"}
 :db-spec {:auto-commit true
           :connection-timeout 1000
           :validation-timeout 5000
           :idle-timeout 600000
           :max-lifetime 1800000
           :minimum-idle 2
           :maximum-pool-size 2
           :adapter "postgresql"
           :username "eccentrica"
           :port-number 5442
           :database-name "eccentrica_dev"}
 :integrate-with-wonko? true
 :kafka-client {"bootstrap.servers" "127.0.0.1:9092",
                "reconnect.backoff.ms" 50,
                "request.timeout.ms" 2,
                "retry.backoff.ms" 10,
                "linger.ms" 5,
                "timeout.ms" "10",
                "total.memory.bytes" (* 1024 1024 120),
                "metadata.fetch.timeout.ms" 10,
                "block.on.buffer.full" "false",
                "queue.enqueue.timeout.ms" 0,
                "compression.type" "gzip"}}
